#debugDiv {
  white-space: pre;
}

#editorDiv {
  display: flex;
}

#editorTextArea {
  flex: 1;
  /* Prevent mobile input zoom by setting the font size large enough (16px+) */
  font-size: 16px;
}

#attachmentInput {
  display: none;
}

#itemsDiv img {
  max-height: 100%;
  max-width: 100%;
}
